<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('includes/nav-head.ejs') %>

    <main>
        <form class="product-form" action= "/admin/product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </div>
            <button type="submit">Add product</button>
        </form>
    </main>

<%- include('includes/foot.ejs') %>